<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-remove inline error-modal-icon separator-right-4x" aria-hidden="true"></i>
                <h2 class="modal-title inline" data-bind="text:ui.modalTitle"></h2>
            </div>
            <div class="modal-body">
                <h4 data-bind="text:ui.modalBody"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>