<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 pointer" data-toggle="collapse" href="#acc_referral_attachments">
                <h3 class="inline">Referral Attachments</h3>
              
            </div>
        </div>
    </div>
    <div id="acc_referral_attachments" class="panel-collapse collapse in">
        <div class="panel-body">
            <form method="post" action='@Url.Action("Upload")'>
                <div class="demo-section k-content">
                    <input name="files" id="files" type="file" aria-label="files" />
                
                </div>
            </form>
            <script>
               
            </script>

        </div>
    </div>
</div>