<div class="modal fade" id="admit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title inline">Patient Admission</h2>
            </div>
            <div class="modal-body">
                <h4>Final patient disposition.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:data.admitted">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>