<select class="form-control" data-bind="value:data.denialReason">
    <option value="">-Select Option-</option>
    <option value="No days">No days</option>
    <option value="No coverage">No coverage</option>
    <option value="Medicaid">Medicaid</option>
    <option value="Did not meet criteria">Did not meet criteria</option>
    <option value="Patient expired">Patient expired</option>
</select>