<select class="form-control" data-bind="value:data.nonAdmitReason">
    <option value="">-Select Option-</option>
    <option value="Non Admit - Lost to competitor">Non Admit - Lost to competitor</option>
    <option value="Non-Admit - Went to competing LTACH">Non-Admit - Went to competing LTACH</option>
    <option value="Non-Admit - Went to IRF">Non-Admit - Went to IRF</option>
    <option value="Non Admit - Family chose competitor">Non Admit - Family chose competitor</option>
    <option value="Non Admit - Went to Hospice">Non Admit - Went to Hospice</option>
    <option value="Non Admit - Went to SNF">Non Admit - Went to SNF</option>
    <option value="Non Admit - no contract">Non Admit - no contract</option>
    <option value="Non-Admit - insurance denial">Non-Admit - insurance denial</option>
    <option value="Non-Admit - Peer to Peer denial STACH Physician">Non-Admit - Peer to Peer denial STACH Physician</option>
    <option value="Non-Admit - Peer to Peer denial Insurance Physician">Non-Admit - Peer to Peer denial Insurance Physician</option>
    <option value="Non-Admit - Expedited Appeal denial">Non-Admit - Expedited Appeal denial</option>
    <option value="Non-Admit - SCA denial (us)">Non-Admit - SCA denial (us)</option>
    <option value="Non-Admit - SCA denial (them)">Non-Admit - SCA denial (them)</option>
    <option value="Non-Admit - OON with no SCA possible">Non-Admit - OON with no SCA possible</option>
    <option value="Non-Admit - CEO Denial">Non-Admit - CEO Denial</option>
    <option value="Non-Admit - VP Denial">Non-Admit - VP Denial</option>
    <option value="Non-Admit - Administrative Denial">Non-Admit - Administrative Denial</option>
    <option value="Non-Admit - No secondary to cover exhaust">Non-Admit - No secondary to cover exhaust</option>
    <option value="Non-Admit - Site Neutral Denial">Non-Admit - Site Neutral Denial</option>
    <option value="Non-Admit - No beds">Non-Admit - No beds</option>
    <option value="Non-Admit - no ICU beds">Non-Admit - no ICU beds</option>
</select>