<div class="alert alert-danger error-alert alert-dismissible hide" role="alert" data-bind="css: { hide: !ui.error() }">
    <button type="button" class="close"  aria-label="Close" data-bind="click:model.ui.errorDismissedClick"><span aria-hidden="true">&times;</span></button>
    <div data-bind="foreach: ui.errorList">
        <strong data-bind="text:name"></strong>: <span data-bind="text:description"></span> <br/>
    </div>
</div>