<div class="alert alert-info error-alert alert-dismissible hide" role="alert" data-bind="css: { hide: !ui.info() }">
    @*<button type="button" class="close"  aria-label="Close" data-bind="click:model.ui.infoDismissedClick"><span aria-hidden="true">&times;</span></button>*@
    <div data-bind="foreach: ui.infoList">
        <strong data-bind="text:name"></strong>: <span data-bind="text:description"></span> <i data-bind="text:message"></i> <br />
    </div>
</div>