
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="unauthorized row">
    <div class="inner">
        <i class="fa fa-ban"></i><span>Unauthorized</span>
        <h4 class="text-center">
            You are currently not authorized to access the requested resource. If you think this is an error, please contact IT department to request access to the resource.
        </h4>
    </div>

</div>


