
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="status-error row">
    <div class="inner">
        <i class="fa fa-warning"></i><span>Error</span>
        <h4 class="text-center">
            An unknown exception has occurred while processing your request. Please try again. If the issue persists, please contact the support department.
        </h4>
    </div>

</div>


